@media all and (min-width: 768px) {
  tr  {
    td {
      vertical-align: middle !important;
    }
     th {
  color:#1E90FF;
}
    span {
      &:not([class]) {
        padding: 1rem 1rem;
      }
    }
  }
}


